<style type="text/css">
    .layui-table-cell {
        height: 100%;
    }
</style>
<div class="layui-card">
    <div class="layui-card-header">
        <span class="layui-breadcrumb pull-right">
          <a href="#!home_console">首页</a>
            <a><cite>产品管理</cite></a>
          <a><cite>砍价产品</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            搜索：
            <input id="name" class="layui-input search-input" type="text" placeholder="产品名称"/>&emsp;
            <button id="bargain-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
            <button id="bargain-btn-add" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
        </div>

        <table class="layui-table" id="bargain-table" lay-filter="bargain-table"></table>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="bargain-table-bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
</script>
<script type="text/html" id="bargain-tpl-pic">
    <div><img src="{{d.picUrl}}" height="100%" width="100%"></div>
</script>
<script id="bargain-during" type="text/html">
    {{# if (d.during=== 1) { }}
    <span>永久</span>
    {{# } else if(d.during=== 2) { }}
    <span>{{d.validDate}}</span>
    {{# } }}
</script>

<!-- 表格状态列 -->
<script type="text/html" id="bargain-tpl-state">
    <input type="checkbox" lay-filter="bargain-tpl-state" value="{{d.id}}" lay-skin="switch" lay-text="上架|下架"
           {{d.isOnSale==true?'checked':''}}/>
</script>
<script>
    layui.use(['form', 'table', 'util', 'admin', 'element'], function () {
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var element = layui.element;

        form.render('select');

        table.render({
            elem: '#bargain-table',
            url: '/sys/bargain/list',
            page: true,
            cols: [[
                {
                    field: 'picUrl',
                    title: '图片',
                    templet: '#bargain-tpl-pic'
                },
                {field: 'name', title: '产品名称'},
                {field: 'retailPrice', title: '原价格'},
                {field: 'counterPrice', title: '会员价格'},
                {field: 'fen', title: '剩余份数'},
                {field: 'during', title: '产品有效期', templet: '#bargain-during'},
                {field: 'priority', title: '排序号'},
                {field: 'isOnSale', title: '是否上架',templet: '#bargain-tpl-state'},
                {align: 'center', toolbar: '#bargain-table-bar', title: '操作'}
            ]]
        });

        // 搜索按钮点击事件
        $('#bargain-btn-search').click(function () {
            table.reload('bargain-table', {where: {name: $('#name').val()}});
        });

        // 添加按钮点击事件
        $('#bargain-btn-add').click(function () {
            showEditModel();
        });

        // 显示表单弹窗
        var showEditModel = function (data) {
            var title = data ? '修改产品' : '添加产品';
            admin.putTempData('t_bargain', data);
            admin.popupCenter({
                title: title,
                path: '/sys/bargain/editForm',
                area: ['960px', '640px'],
                maxmin:true,
                finish: function () {
                    table.reload('bargain-table', {});
                }
            });
        };

        // 工具条点击事件
        table.on('tool(bargain-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'edit') { // 修改
                showEditModel(data);
            } else if (layEvent === 'delete') { // 重置密码
                layer.confirm('确定删除此产品吗？', function (i) {
                    layer.close(i);
                    layer.load(2);
                    $.post('/sys/bargain/delete', {
                        bargainId: obj.data.id
                    }, function (data) {
                        layer.closeAll('loading');
                        if (data.code === 1) {
                            obj.del();
                            layer.msg(data.msg, {icon: 1});
                        } else {
                            layer.msg(data.msg, {icon: 2});
                        }
                    });
                });
            }
        });

        // 修改ad状态
        form.on('switch(bargain-tpl-state)', function (obj) {
            layer.load(2);
            $.post('/sys/bargain/updateStatus', {
                bargainId: obj.elem.value,
                status: obj.elem.checked
            }, function (data) {
                layer.closeAll('loading');
                if (data.code === 1) {
                    layer.msg(data.msg, {icon: 1});
                    // table.reload('table-ad', {});
                } else {
                    layer.msg(data.msg, {icon: 2});
                    $(obj.elem).prop('checked', !obj.elem.checked);
                    form.render('checkbox');
                }
            });
        });
    });
</script>