<style>
    #upload_img_list {
        margin: 10px 0 0 0
    }

    #upload_img_list dd {
        position: relative;
        margin: 0 10px 10px 0;
        float: left
    }

    #upload_img_list .operate {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1
    }

    #upload_img_list .operate i {
        cursor: pointer;
        background: #2F4056;
        padding: 2px;
        line-height: 15px;
        text-align: center;
        color: #fff;
        margin-left: 1px;
        float: left;
        filter: alpha(opacity=80);
        -moz-opacity: .8;
        -khtml-opacity: .8;
        opacity: .8
    }

    #upload_img_list dd .img {
        max-height: 150px;
        max-width: 500px
    }
</style>

<!-- product表单弹窗 -->
<form id="product-form" lay-filter="product-form" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <input name="picUrl" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="product_test1">上传图片</button>
                <div class="layui-upload-list"><img id="demo1"></div>
            </div>
        </div>
    </div>
    /**
    * 商品所属类目ID
    */
    private Integer categoryId;
    /**
    * 商品所属店铺ID
    */
    private Integer shopId;
    <div class="layui-form-item">
        <label class="layui-form-label">所属店铺</label>
        <div class="layui-input-block">
            <select name="shopId" xm-select="shopId" lay-verify="required">
                <% for(shop in shops) { %>
                <option value="${shop.id}">${shop.name}</option>
                <% } %>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属分类</label>
        <div class="layui-input-block">
            <input name="mobile" placeholder="请输入店铺电话" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-block">
            <input name="name" placeholder="请输入商品名称" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">原价格</label>
        <div class="layui-input-block">
            <input name="retailPrice" placeholder="请输入店长姓名" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">会员价格</label>
        <div class="layui-input-block">
            <input name="counterPrice" placeholder="请输入手机号" type="text" class="layui-input" lay-verify="required|phone"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品份数</label>
        <div class="layui-input-block">
            <input name="fen" placeholder="请输入商品份数" type="number" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品关键字</label>
        <div class="layui-input-block">
            <input name="keywords" placeholder="请输入商品名称" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品有效期</label>
        <div class="layui-input-block">
            <input name="during" placeholder="请输入商品名称" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品有效期</label>
        <div class="layui-input-block">
            <input name="during" placeholder="请输入商品名称" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">时间设置</label>
        <div class="layui-input-block">
            <input name="startDate" placeholder="请输入商品名称" type="text" class="layui-input" lay-verify="required"/>
            <input name="endDate" placeholder="请输入商品名称" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品简介</label>
        <div class="layui-input-block">
            <textarea name="brief" placeholder="请输入商品简介" class="layui-textarea" maxlength="200" lay-verify="required"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">使用须知</label>
        <div class="layui-input-block">
            <textarea name="info" placeholder="请输入使用须知" class="layui-textarea" maxlength="200" lay-verify="required"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品详情</label>
        <div class="layui-input-block">
            <input name="content" placeholder="请输入纬度" type="number" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序号</label>
        <div class="layui-input-block">
            <input name="priority" placeholder="数字越大，排序越靠前" type="number" class="layui-input"
                   lay-verify="required|number"/>
        </div>
    </div>
    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="product-form-submit" lay-submit>保存</button>
    </div>
</form>

<script>
    layui.use(['layer', 'admin', 'form', 'upload', 'formSelects'], function () {
        var layer = layui.layer;
        var admin = layui.admin;
        var form = layui.form;
        var upload = layui.upload;

        form.render('radio');

        var url = '/sys/product/add';
        // 回显ad数据
        var product = admin.getTempData('t_product');
        if (product) {
            url = '/sys/product/update';
            $('#demo1').attr("src", product.picUrl);
            if (product.picUrls!=null&& product.picUrls!=undefined) {
                for (var i = 0; i < product.picUrls.length; i++) {
                    var l1 = product.picUrls[i].lastIndexOf("/");
                    var l2 = product.picUrls[i].lastIndexOf(".");
                    var res = product.picUrls[i].substring(l1 + 1, l2);
                    $('#upload_img_list').append('<dd id="' + res + '"><div class="operate"><i onclick=UPLOAD_IMG_DEL("' + res + '") class="close layui-icon"></i></div><img src="' + product.picUrls[i] + '" class="img" ><input type="hidden" name="picUrls[]" value="' + product.picUrls[i] + '" /></dd>');
                }
            }
            form.val('product-form', product);
        }

        // 表单提交事件
        form.on('submit(product-form-submit)', function (data) {
            layer.load(2);
            $.post(url, data.field, function (data) {
                layer.closeAll('loading');
                if (data.code === 1) {
                    layer.msg(data.msg, {icon: 1});
                    admin.finishPopupCenter();
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            });
            return false;
        });

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#product_test1',
            url: '/os/storage/create',
            before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            },
            done: function (res) {
                //上传成功
                if (res.code === 1) {
                    $(":input[name='picUrl']").val(res.data.url);
                    return layer.msg("上传成功");
                } else {
                    return layer.msg(res.msg);
                }

            },
            error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

        // 多图片上传
        upload.render({
            elem: '#product_test2',
            url: '/os/storage/create',
            multiple: true,
            before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    layer.msg('图片上传中...', {
                        icon: 16,
                        shade: 0.01,
                        time: 0
                    })
                });
            },
            done: function (res) {
                //上传完毕
                layer.close(layer.msg());//关闭上传提示窗口
                $('#upload_img_list').append('<dd id="' + res.data.id + '"><div class="operate"><i onclick=UPLOAD_IMG_DEL("' + res.data.id + '") class="close layui-icon"></i></div><img src="' + res.data.url + '" class="img" ><input type="hidden" name="picUrls[]" value="' + res.data.url + '" /></dd>');
            }
        });

    });

    function UPLOAD_IMG_DEL(id) {
        $("#" + id).remove();
    }
</script>