<div class="layui-card">
    <div class="layui-card-header">
        <span class="layui-breadcrumb pull-right">
          <a href="#!home_console">首页</a>
            <a><cite>商家管理</cite></a>
          <a><cite>商家查询</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            搜索：
            <input id="name" class="layui-input search-input" type="text" placeholder="商家名称"/>
            <button id="shop-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>

        <table class="layui-table" id="shop-table" lay-filter="shop-table"></table>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="shop-table-bar">
    <a class="layui-btn layui-btn-xs" lay-event="qrCode">二维码</a>
</script>
<script id="shop-status" type="text/html">
    {{# if (d.status=== 0) { }}
    <span style="color: #FF5722">已过期</span>
    {{# } else if(d.status=== 1) { }}
    <span style="color: #009688">待使用</span>
    {{# } else if(d.status=== 2){ }}
    <span style="color: #5FB878">已使用</span>
    {{# } }}
</script>
<script id="shop-product-during" type="text/html">
    {{# if (d.product.during=== 1) { }}
    <span>永久</span>
    {{# } else if(d.product.during=== 2) { }}
    <span>{{d.product.startDate}}至{{d.product.endDate}}</span>
    {{# } }}
</script>
<script>
    layui.use(['form', 'table', 'util', 'admin', 'element'], function () {
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var element = layui.element;

        form.render('select');

        table.render({
            elem: '#shop-table',
            url: '/sys/shop/list',
            page: true,
            cols: [[
                {field: 'sn', title: '订单编号'},
                {field: 'realName',  title: '会员姓名',templet: '<div>{{d.user.realName}}</div>'},
                {field: 'phone', title: '会员电话',templet: '<div>{{d.user.phone}}</div>'},
                {field: 'status', templet: '#shop-status', title: '订单状态'},
                {field: 'productName',  title: '产品名称',templet: '<div>{{d.product.name}}</div>'},
                {field: 'during', width:'18%',  title: '产品有效期',templet:'#shop-product-during'},
                {field: 'shopName', title: '所属店铺',templet: '<div>{{d.shop.name}}</div>'},
                {align: 'center', toolbar: '#shop-table-bar', title: '操作'}
            ]]
        });

        // 搜索按钮点击事件
        $('#shop-btn-search').click(function () {
            table.reload('shop-table', {where: {realName: $('#realName').val(),phone: $('#phone').val(),sn: $('#sn').val()}});
        });

        // 工具条点击事件
        table.on('tool(shop-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'qrCode') {
                layer.open({
                    type: 1,
                    title: false,
                    closeBtn: 0,
                    skin: 'layui-layer-nobg', //没有背景色
                    shadeClose: true,
                    content: '<img src="' + data.qrCodePic + '">'
                });
            }
        });
    });
</script>