<style>
    #upload_img_list {
        margin: 10px 0 0 0
    }

    #upload_img_list dd {
        position: relative;
        margin: 0 10px 10px 0;
        float: left
    }

    #upload_img_list .operate {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1
    }

    #upload_img_list .operate i {
        cursor: pointer;
        background: #2F4056;
        padding: 2px;
        line-height: 15px;
        text-align: center;
        color: #fff;
        margin-left: 1px;
        float: left;
        filter: alpha(opacity=80);
        -moz-opacity: .8;
        -khtml-opacity: .8;
        opacity: .8
    }

    #upload_img_list dd .img {
        max-height: 150px;
        max-width: 500px
    }
</style>

<!-- shop表单弹窗 -->
<form id="shop-form" lay-filter="shop-form" class="layui-form model-form">
    <input name="id" type="hidden"/>

    <input name="shopImg" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label">LOGO</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test1">上传图片</button>
                <div class="layui-upload-list"><img id="demo1"></div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">宣传图片</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test2">多图片上传</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：
                    <div class="layui-upload-list" id="upload_img_list"></div>
                </blockquote>
            </div>
        </div>
    </div>
    <div id="picUrls"></div>

    <div class="layui-form-item">
        <label class="layui-form-label">店铺名称</label>
        <div class="layui-input-block">
            <input name="name" placeholder="请输入店铺名称" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">店铺电话</label>
        <div class="layui-input-block">
            <input name="mobile" placeholder="请输入店铺电话" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">营业时间</label>
        <div class="layui-input-block">
            <input name="business" placeholder="请输入营业时间" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">店铺地址</label>
        <div class="layui-input-block">
            <input name="address" placeholder="请输入店铺地址" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">店铺简介</label>
        <div class="layui-input-block">
            <textarea name="info" placeholder="请输入内容" class="layui-textarea" maxlength="200"
                      lay-verify="required"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">地理位置（经度）</label>
        <div class="layui-input-block">
            <input name="longitude" placeholder="请输入经度" type="number" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">地理位置（纬度）</label>
        <div class="layui-input-block">
            <input name="latitude" placeholder="请输入纬度" type="number" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序号</label>
        <div class="layui-input-block">
            <input name="priority" placeholder="数字越大，排序越靠前" type="number" class="layui-input"
                   lay-verify="required|number"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">店长姓名</label>
        <div class="layui-input-block">
            <input name="realName" placeholder="请输入店长姓名" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">店长电话</label>
        <div class="layui-input-block">
            <input name="phone" placeholder="请输入手机号" type="text" class="layui-input" lay-verify="required|phone"/>
        </div>
    </div>
    <input name="sellerId" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <span style="color: red">备注：默认商家登录密码为888888</span>
        </div>
    </div>
    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="shop-form-submit" lay-submit>保存</button>
    </div>
</form>

<script>
    layui.use(['layer', 'admin', 'form', 'upload', 'formSelects'], function () {
        var layer = layui.layer;
        var admin = layui.admin;
        var form = layui.form;
        var upload = layui.upload;

        form.render('radio');

        var url = '/sys/shop/add';
        // 回显ad数据
        var shop = admin.getTempData('t_shop');
        if (shop) {
            url = '/sys/shop/update';
            $('#demo1').attr("src", shop.shopImg);
            if (shop.picUrls!=null&& shop.picUrls!=undefined) {
                for (var i = 0; i < shop.picUrls.length; i++) {
                    var l1 = shop.picUrls[i].lastIndexOf("/");
                    var l2 = shop.picUrls[i].lastIndexOf(".");
                    var res = shop.picUrls[i].substring(l1 + 1, l2);
                    $('#upload_img_list').append('<dd id="' + res + '"><div class="operate"><i onclick=UPLOAD_IMG_DEL("' + res + '") class="close layui-icon"></i></div><img src="' + shop.picUrls[i] + '" class="img" ><input type="hidden" name="picUrls[]" value="' + shop.picUrls[i] + '" /></dd>');
                }
            }
            form.val('shop-form', shop);
        }

        // 表单提交事件
        form.on('submit(shop-form-submit)', function (data) {
            layer.load(2);
            $.post(url, data.field, function (data) {
                layer.closeAll('loading');
                if (data.code === 1) {
                    layer.msg(data.msg, {icon: 1});
                    admin.finishPopupCenter();
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            });
            return false;
        });

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1',
            url: '/os/storage/create',
            before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            },
            done: function (res) {
                //上传成功
                if (res.code === 1) {
                    $(":input[name='shopImg']").val(res.data.url);
                    return layer.msg("上传成功");
                } else {
                    return layer.msg(res.msg);
                }

            },
            error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

        // 多图片上传
        upload.render({
            elem: '#test2',
            url: '/os/storage/create',
            multiple: true,
            before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    layer.msg('图片上传中...', {
                        icon: 16,
                        shade: 0.01,
                        time: 0
                    })
                });
            },
            done: function (res) {
                //上传完毕
                layer.close(layer.msg());//关闭上传提示窗口
                $('#upload_img_list').append('<dd id="' + res.data.id + '"><div class="operate"><i onclick=UPLOAD_IMG_DEL("' + res.data.id + '") class="close layui-icon"></i></div><img src="' + res.data.url + '" class="img" ><input type="hidden" name="picUrls[]" value="' + res.data.url + '" /></dd>');
            }
        });

    });

    function UPLOAD_IMG_DEL(id) {
        $("#" + id).remove();
    }
</script>