<style type="text/css">
    .layui-table-cell {
        height: 100%;
    }
</style>
<div class="layui-card">
    <div class="layui-card-header">
        <span class="layui-breadcrumb pull-right">
          <a href="#!home_console">首页</a>
            <a><cite>商家管理</cite></a>
          <a><cite>入驻申请</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            搜索：
            <input id="name" class="layui-input search-input" type="text" placeholder="店铺名称"/>&emsp;
            <button id="shop-apply-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>

        <table class="layui-table" id="shop-apply-table" lay-filter="shop-apply-table"></table>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="shop-apply-table-bar">
    <a class="layui-btn layui-btn-xs" lay-event="shop-apply-detail">详情</a>
</script>
<script type="text/html" id="shop-apply-tpl-pic">
    <div><img src="{{d.shopImg}}"  height="100%" width="40%"></div>
</script>

<script>
    layui.use(['form', 'table', 'util', 'admin', 'element'], function () {
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var element = layui.element;

        form.render('select');

        table.render({
            elem: '#shop-apply-table',
            url: '/sys/shop/apply',
            page: true,
            cols: [[
                {
                    field: 'shopImg',
                    title: 'Logo',
                    templet: '#shop-apply-tpl-pic'
                },
                {field: 'name', title: '店铺名称'},
                {field: 'info', title: '店铺简介'},
                {field: 'address', title: '店铺地址'},
                {field: 'mobile', title: '店铺电话'},
                {field: 'priority', title: '排序号'},
                {field: 'realName', title: '店长', templet: '<div>{{d.owner.realName}}</div>'},
                {field: 'phone', title: '店长电话', templet: '<div>{{d.owner.phone}}</div>'},
                {field: 'status', title: '店铺状态'},
                {align: 'center', toolbar: '#shop-apply-table-bar', title: '操作'}
            ]]
        });

        // 搜索按钮点击事件
        $('#shop-apply-btn-search').click(function () {
            table.reload('shop-apply-table', {where: {name: $('#name').val()}});
        });

        // 工具条点击事件
        table.on('tool(shop-apply-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'shop-apply-detail') {
                layer.open({
                    type: 1,
                    title: false,
                    closeBtn: 0,
                    skin: 'layui-layer-nobg', //没有背景色
                    shadeClose: true,
                    content: '<img src="' + data.qrCodePic + '">'
                });
            }
        });
    });
</script>