<!-- shop-detail表单弹窗 -->
<form id="shop-detail-form" lay-filter="shop-detail-form" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <input name="shopImg" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label">LOGO</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <div class="layui-upload-list"><img id="demo1"></div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">宣传图片</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    <div class="layui-upload-list" id="demo2"></div>
                </blockquote>
            </div>
        </div>
    </div>

    <div id="picUrls"></div>

    <div class="layui-form-item">
        <label class="layui-form-label">店铺名称</label>
        <div class="layui-input-block">
            <input name="name" placeholder="请输入店铺名称" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">店铺电话</label>
        <div class="layui-input-block">
            <input name="mobile" placeholder="请输入店铺电话" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">营业时间</label>
        <div class="layui-input-block">
            <input name="business" placeholder="请输入营业时间" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">店铺地址</label>
        <div class="layui-input-block">
            <input name="address" placeholder="请输入店铺地址" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">店铺简介</label>
        <div class="layui-input-block">
            <textarea name="info" placeholder="请输入内容" class="layui-textarea" maxlength="200"
                      lay-verify="required"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">地理位置（经度）</label>
        <div class="layui-input-block">
            <input name="longitude" placeholder="请输入经度" type="number" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">地理位置（纬度）</label>
        <div class="layui-input-block">
            <input name="latitude" placeholder="请输入纬度" type="number" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序号</label>
        <div class="layui-input-block">
            <input name="priority" placeholder="数字越大，排序越靠前" type="number" class="layui-input"
                   lay-verify="required|number"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">店长姓名</label>
        <div class="layui-input-block">
            <input name="realName" placeholder="请输入店长姓名" type="text" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">店长电话</label>
        <div class="layui-input-block">
            <input name="phone" placeholder="请输入手机号" type="text" class="layui-input" lay-verify="required|phone"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <span style="color: red">备注：默认商家登录密码为888888</span>
        </div>
    </div>
</form>

<script>
    layui.use(['layer', 'admin', 'form', 'upload', 'formSelects'], function () {
        var layer = layui.layer;
        var admin = layui.admin;
        var form = layui.form;
        var upload = layui.upload;

        form.render('radio');
        // 回显ad数据
        var shop = admin.getTempData('t_shop');
        if (shop) {
            $('#demo1').attr("src", shop.shopImg);
            if (shop.picUrls!=null&& shop.picUrls!=undefined) {
                for (var i = 0; i < shop.picUrls.length; i++) {
                    $('#demo2').append('<img src="' + shop.picUrls[i] + '" class="layui-upload-img">')               }
            }
            form.val('shop-detail-form', shop);
        }
    });
</script>