<style type="text/css">
    .layui-table-cell {
        height: 100%;
    }
</style>
<div class="layui-card">
    <div class="layui-card-header">
        <span class="layui-breadcrumb pull-right">
          <a href="#!home_console">首页</a>
            <a><cite>用户管理</cite></a>
          <a><cite>用户列表</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <table class="layui-table" id="user-table" lay-filter="user-table"></table>
    </div>
</div>

<!-- 表格状态列 -->
<script type="text/html" id="user-tpl-state">
    <input type="checkbox" lay-filter="user-tpl-state" value="{{d.id}}" lay-skin="switch" lay-text="正常|禁用"
           {{d.status==1?'checked':''}}/>
</script>
<script type="text/html" id="user-tpl-pic">
    <div><img src="{{d.avatarUrl}}" height="100%" width="40%"></div>
</script>
<script id="user-gender" type="text/html">
    {{# if (d.userLevel=== 0) { }}
    <span>未知</span>
    {{# } else if(d.userLevel=== 1) { }}
    <span>男</span>
    {{# } else { }}
    <span>女</span>
    {{# } }}
</script>

<script id="user-level" type="text/html">
    {{# if (d.userLevel=== 0) { }}
    <span>用户用户</span>
    {{# } else if(d.userLevel=== 1) { }}
    <span>VIP用户</span>
    {{# } else { }}
    <span></span>
    {{# } }}
</script>
<script>
    layui.use(['form', 'table', 'util', 'admin', 'element'], function () {
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var element = layui.element;

        form.render('select');

        // 渲染表格
        table.render({
            elem: '#user-table',
            url: '/sys/user/list',
            page: true,
            cols: [[
                {
                    field: 'avatarUrl',
                    title: '头像',
                    templet: '#user-tpl-pic'
                },
                {field: 'nickName', title: '昵称'},
                {field: 'gender', title: '性别', templet: '#user-gender'},
                {field: 'status', templet: '#user-tpl-state', title: '状态'},
                {field: 'userLevel', title: '用户级别', templet: '#user-level'},
                {field: 'addTime', title: '加入时间'}
            ]]
        });

        // 修改user状态
        form.on('switch(user-tpl-state)', function (obj) {
            layer.load(2);
            $.post('/sys/user/updateStatus', {
                userId: obj.elem.value,
                status: obj.elem.checked ? 1 : 0
            }, function (data) {
                layer.closeAll('loading');
                if (data.code === 1) {
                    layer.msg(data.msg, {icon: 1});
                    //table.reload('table-user', {});
                } else {
                    layer.msg(data.msg, {icon: 2});
                    $(obj.elem).prop('checked', !obj.elem.checked);
                    form.render('checkbox');
                }
            });
        });
    });
</script>