<div class="layui-side-scroll">
    <ul class="layui-nav layui-nav-tree" style="margin-top: 15px;">
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;"><i class="layui-icon layui-icon-home"></i>&emsp;<cite>主页</cite></a>
            <dl class="layui-nav-child">
                <dd class="layui-this">
                    <a lay-href="home/console">控制台</a>
                </dd>
            </dl>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;"><i class="layui-icon layui-icon-user"></i>&emsp;<cite>用户管理</cite></a>
            <dl class="layui-nav-child">
                <dd><a lay-href="/sys/user/userList">用户列表</a></dd>
                <dd><a lay-href="/sys/user/userVip">会员管理</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;"><i class="layui-icon layui-icon-cart-simple"></i>&emsp;<cite>会员订单</cite></a>
            <dl class="layui-nav-child">
                <dd><a lay-href="/sys/order">订单列表</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;"><i class="layui-icon layui-icon-cart-simple"></i>&emsp;<cite>商家管理</cite></a>
            <dl class="layui-nav-child">
                <dd><a lay-href="/sys/shop">商家查询</a></dd>
                <dd><a lay-href="/sys/shop/shopApply">入驻申请</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="layui-icon layui-icon-cart-simple"></i>&emsp;<cite>产品管理</cite></a>
            <dl class="layui-nav-child">
                <dd><a lay-href="/sys/product">优惠产品</a></dd>
                <dd><a lay-href="">砍价产品</a></dd>
                <dd><a lay-href="">拼团产品</a></dd>
                <dd><a lay-href="/sys/category">行业标签</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;"><i class="layui-icon layui-icon-cart-simple"></i>&emsp;<cite>活动专场</cite></a>
            <dl class="layui-nav-child">
                <dd><a lay-href="/sys/act">活动列表</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;"><i class="layui-icon layui-icon-cart-simple"></i>&emsp;<cite>数据统计</cite></a>
            <dl class="layui-nav-child">
                <dd><a lay-href="">核销统计</a></dd>
                <dd><a lay-href="">砍价统计</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;"><i class="layui-icon layui-icon-set"></i>&emsp;<cite>系统管理</cite></a>
            <dl class="layui-nav-child">
                <dd><a lay-href="/sys/ad">轮播图</a></dd>
                <dd><a lay-href="/sys/keyword">搜索热词</a></dd>
                <dd><a lay-href="/sys/issue">常见问题</a></dd>
                <dd><a lay-href="/sys/admin">管理员管理</a></dd>
            </dl>
        </li>
    </ul>
</div>