<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etn.shoppingmall.core.mapper.BargainUserMapper">
    <resultMap id="BaseResultMap" type="com.etn.shoppingmall.core.entity.BargainUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="af" jdbcType="VARCHAR" property="af"/>
        <result column="flag" jdbcType="INTEGER" property="flag"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <association property="user" column="user_id" javaType="com.etn.shoppingmall.core.entity.User">
            <id column="user_id" jdbcType="INTEGER" property="id"/>
            <result column="real_name" jdbcType="VARCHAR" property="realName"/>
            <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl"/>
        </association>
    </resultMap>

    <select id="listBargainUser" resultMap="BaseResultMap">
        SELECT
        bu.id,bu.product_id,bu.flag,bu.price,bu.add_time,bu.af,
        u.id as user_id,u.real_name,u.avatar_url
        FROM t_bargain_user bu
        LEFT JOIN t_user u ON bu.user_id=u.id
        where 1=1
        <if test="productId != null">
            AND bu.product_id=#{productId}
        </if>
        <if test="flag != null">
            AND  bu.flag=#{flag}
        </if>
        <if test="userId != null">
            AND u.id=#{userId}
        </if>
        <if test="af != null and af != ''">
            AND bu.af=#{af}
        </if>
        AND bu.deleted=0
    </select>

    <select id="todaysBargainUserByUserId" resultType="Integer">
        select COUNT(*)
        from t_bargain_user bu
        where 1=1
        <if test="userId != null">
        AND bu.user_id=#{userId}
        </if>
        AND bu.flag=2
        AND to_days(bu.add_time) = to_days(now());
    </select>

    <insert id="addBargainUser" parameterType="com.etn.shoppingmall.core.entity.BargainUser"  useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        insert into t_bargain_user(product_id,user_id,af,flag,price,add_time,deleted) values(#{productId},#{user.id},#{af},#{flag},#{price},#{addTime},#{deleted})
    </insert>
</mapper>