<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etn.shoppingmall.core.mapper.SellerMapper">
    <resultMap id="BaseResultMap" type="com.etn.shoppingmall.core.entity.Seller">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="openid" jdbcType="VARCHAR" property="openid"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>
    <insert id="add" parameterType="com.etn.shoppingmall.core.entity.Seller" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO t_seller(add_time,deleted,real_name,phone,status )
		VALUES (#{addTime},#{deleted},#{realName},#{phone}, #{status})
	</insert>
</mapper>
