<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etn.shoppingmall.core.mapper.ShopMapper">
    <resultMap id="BaseResultMap" type="com.etn.shoppingmall.core.entity.Shop">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="info" jdbcType="VARCHAR" property="info"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="longitude" jdbcType="DOUBLE" property="longitude"/>
        <result column="latitude" jdbcType="DOUBLE" property="latitude"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="shop_img" jdbcType="VARCHAR" property="shopImg"/>
        <result column="pic_urls" jdbcType="VARCHAR" property="picUrls"
                typeHandler="com.etn.shoppingmall.core.mybatis.JsonStringArrayTypeHandler"/>
        <result column="priority" jdbcType="INTEGER" property="priority"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="advice" jdbcType="VARCHAR" property="advice"/>
        <result column="business" jdbcType="VARCHAR" property="business"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="openid" jdbcType="VARCHAR" property="openid"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
    </resultMap>

    <select id="find" resultMap="BaseResultMap">
        select
        s.id,s.name,s.info,s.address,s.longitude,s.latitude,s.mobile,s.shop_img,
        s.pic_urls,s.priority,s.status,s.advice,s.add_time,s.deleted,s.business,s.order_num,
        s.real_name,s.phone
        from t_shop s
        where 1=1
        <if test="status != null">
            and s.status = #{status}
        </if>
        <if test="name != null and name != ''">
            and s.name like '%${name}%'
        </if>
        order by s.add_time desc
    </select>

    <insert id="add" parameterType="com.etn.shoppingmall.core.entity.Shop" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
		INSERT INTO t_shop( add_time,deleted,shop_img,pic_urls,name,info,business,address,longitude,latitude,mobile,priority,status,real_name,phone )
		VALUES
		(#{addTime},#{deleted},#{shopImg},#{picUrls,jdbcType=VARCHAR,typeHandler=com.etn.shoppingmall.core.mybatis.JsonStringArrayTypeHandler},
		#{name},#{info},#{business},#{address},#{longitude},#{latitude},#{mobile},#{priority},#{status},#{realName},#{phone})
	</insert>

    <update id="update" parameterType="com.etn.shoppingmall.core.entity.Shop">
		update t_shop
		set
		shop_img=#{shopImg},
		pic_urls=#{picUrls,jdbcType=VARCHAR,typeHandler=com.etn.shoppingmall.core.mybatis.JsonStringArrayTypeHandler},
		name=#{name},
		info=#{info},
		business=#{business},
		address=#{address},
		longitude=#{longitude},
		latitude=#{latitude},
		mobile=#{mobile},
		priority=#{priority},
		real_name=#{realName},
		phone=#{phone}
	    where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
