<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etn.shoppingmall.core.mapper.ShopMapper">
    <resultMap id="BaseResultMap" type="com.etn.shoppingmall.core.entity.Shop">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="info" jdbcType="VARCHAR" property="info"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="longitude" jdbcType="DOUBLE" property="longitude"/>
        <result column="latitude" jdbcType="DOUBLE" property="latitude"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="shop_img" jdbcType="VARCHAR" property="shopImg"/>
        <result column="pic_urls" jdbcType="VARCHAR" property="picUrls"
                typeHandler="com.etn.shoppingmall.core.mybatis.JsonStringArrayTypeHandler"/>
        <result column="priority" jdbcType="INTEGER" property="priority"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="advice" jdbcType="VARCHAR" property="advice"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <association property="owner" column="owner_id" javaType="com.etn.shoppingmall.core.entity.Seller">
            <id column="id" property="id" />
            <result column="ownerName" property="realName"/>
            <result column="ownerPhone" property="phone"/>
        </association>
    </resultMap>

    <select id="find"  resultMap="BaseResultMap">
        select
        s.id,s.name,s.info,s.address,s.longitude,s.latitude,s.mobile,s.shop_img,s.pic_urls,s.priority,s.status,s.advice,s.add_time,s.deleted,
        o.id,o.real_name as ownerName,o.phone as ownerPhone
        from t_shop s
        left join t_seller o on o.id=s.owner_id
        where 1=1
        <if test="status != null">
            and s.status = #{status}
        </if>
        <if test="name != null and name != ''">
            and s.name like '%${name}%'
        </if>
        order by o.add_time desc
    </select>

    <insert id="add" parameterType="com.etn.shoppingmall.core.entity.Shop" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO t_shop( add_time,deleted,name,info,address,longitude,latitude,mobile,priority,status,owner_id )
		VALUES (#{addTime},#{deleted},#{name},#{info}, #{address},#{longitude}, #{latitude}, #{mobile}, #{priority}, #{status},#{owner.id})
	</insert>
</mapper>
